@import '../abstracts/mixins';

div.music_monitor_wrapper{
    font-family:var(--default-font);
    margin:0 auto;
   width: 100%;

   background: var(--color-white);
   @include respond(tab-land){
       width:100%;
       margin:0 auto;
   }

   @include respond(android-phone){
    width:100%;
    margin:0 auto;
  }
  @include respond (small-android){
      width:100%;

  }


  
  .Alluser-activity-wrapper{
    display:grid;
    grid-template-columns:3fr 1fr;
    margin-top:3rem;
    padding-top:0rem;
    @include respond(tab-land) {
  grid-template-columns: 1fr;
  margin-top:-3rem;
  
        }
 @include respond(android) {
grid-template-columns: 1fr;
            
        }
    
    h2{
      font-weight:300;
      font-size:3.5rem;
      @include respond(tab-land) {
  text-align:center;
  
        }
    }
    .search{
        margin-right:2rem;
    }

}

  


div{
    margin-top:15rem;
   
   

    table{
        border: 1px solid #ddd;
      
    }
      th { 
        height: 15px;
        width: 50px;	
        color: rgba(0,0,0,0.61); 
        border-top: 1px solid #ddd;
        text-align: left;
        font-family: var(--default-font);
        font-size: 12px;
       font-weight: 500;	
       letter-spacing: 1.71px;
           line-height: 15px;
           
     
      }
      td{
        border-top: 1px solid #ddd;  
        height: 16px;	
        width: 121px;	
        color: #000000;	
        font-family: var(--default-font);	
        font-size: 13px;
        line-height: 16px;
        
        span{
            height: 16px;
            width: 82px;
            color: #000000;
            font-family: var(--default-font);	
            font-size: 13px;	
            font-weight: bold;
            line-height: 16px;
        } 
      }
      
      table {
        border-collapse: collapse;
        width: 100%;
        @include respond (android){
            width: 90%;
            margin: 0 auto;
        }
      }
      
      th, td {
        padding: 15px;
        @include respond (android){
            padding:1px 1px;
        }

        .side{
            height: 39px;	
            width: 39px;	
            border-radius: 8px;
            margin-left:2rem;

        }
      }
}

   

   

}
